body{margin: 0}
#game-result-table td{
    border-bottom:1px solid #d1d1ec;
    border-right:1px solid #d1d1ec;
    padding-left: 10px;
    padding-right: 10px;
}
#game-result-table td a{
    color: rgb(43, 70, 47);
    font-weight: bold;
}
#game-result-table{
    border-top:1px solid #d1d1ec;
    border-left:1px solid #d1d1ec;
}
.empty-cells{
    background: #dadaea;
}