.center {
  text-align: center;
  margin: 0 auto;
  max-width: 1150px;
}

.main {
  margin: 0px 3px;
  text-align: left;
}

.editor {
  min-height: 300px;
  font-size: 16px;
  width: 100%;
  text-align: left;
}

#jsEditor {
  height: 450px;
  font-size: 16px;
  width: 100%;
}

.res {
  width: 100%;
  background-color: #141414;
  height: 250px;
  padding: 10px;
  color: white;
  font-size: 16px;
  border-left: 42px solid #232323;
}

.wrapper {
  margin-bottom: 70px;
}
.reset{
  background-color: #607D8B !important;
}